<div class="span12">
    <?php include 'title.phtml'; ?>
    <div class="container row-fluid">
        <?php $type = 'employee'; ?>
        <?php include 'left-sidebar.phtml'; ?>

        <div class="span10 row reports location">
            <div class="border">
                <h4><i class="icon-user"></i> Details by employee</h4>
                <div class="container">
                    <form class="form-horizontal" id="details-by-employee" action="/reports/employee" method="get">
                        <div class="control-group">
                            <label class="control-label" for="userId">Employee</label>
                            <div class="controls">
                                <select name="userId">
                                    <option value=""></option>
                                    <?php foreach ($users as $user):?>
                                        <option <?php if ($currentUser && $user->getId() == $currentUser->getId()): ?>selected<?php endif ?> value="<?php echo $user->getId() ?>">
                                            <?php echo strip_tags($user->getUsername()); ?>
                                        </option>
                                    <?php endforeach ?>
                                </select>
                            </div>
                        </div>

                        <?php include 'filters/date-fields.phtml';?>

                        <button class="btn pdf" type="submit" formaction="/reports/generate-employee-report/pdf"><a class="excel">PDF</a></button>
                        <button class="btn excel" type="submit" formaction="/reports/generate-employee-report/excel"><a class="excel">EXCEL</a></button>
                    </form>

                    <?php include 'tables/alerts.phtml'; ?>
                </div>
            </div>
            <?php include 'stats/alerts.phtml';?>
        </div>
    </div>
</div>