<?php if (!isset($type)) $type = ''; ?>
<div class="span2">
    <h4>Page reports</h4>
    <ul>
        <li>
            <a class="<?= ($type == 'employee' ? 'active' : ''); ?>" href="/reports/employee">
                <i class="icon-user<?php if($type == 'employee'): ?> icon-white<?php endif; ?>"></i> <span>Details by Employee</span>
            </a>
        </li>
        <li>
            <a class="<?= ($type == 'location' ? 'active' : ''); ?>" href="/reports/location">
                <i class="icon-globe<?php if($type == 'location'): ?> icon-white<?php endif; ?>"></i> <span>Details by Location</span>
            </a>
        </li>
        <li>
            <a class="<?= ($type == 'date' ? 'active' : ''); ?>" href="/reports/summary">
                <i class="icon-calendar<?php if($type == 'date'): ?> icon-white<?php endif; ?>"></i> <span>Summary by Dates</span>
            </a>
        </li>
    </ul>

    <h4>login reports</h4>
    <ul>
        <li>
            <a class="<?= ($type == 'login' ? 'active' : ''); ?>" href="/reports/login">
                <i class="icon-file<?php if($type == 'login'): ?> icon-white<?php endif; ?>"></i> <span>Login History</span>
            </a>
        </li>
    </ul>
</div>