<div class="span12">
    <?php include 'title.phtml'; ?>
    <div class="container row-fluid">
        <?php $type = 'location'; ?>
        <?php include 'left-sidebar.phtml'; ?>

        <div class="span10 row reports location">
            <div class="border">
                <h4><i class="icon-globe"></i> Details by location</h4>
                <div class="container">
                    <form class="form-horizontal" id="details-by-location" action="/reports/location" method="get">
                        <div class="control-group">
                            <label class="control-label" for="locationId">Location</label>
                            <div class="controls">
                                <select name="locationId">
                                    <option value=""></option>
                                    <?php foreach ($locations as $location):?>
                                        <option <?php if ($currentLocation && $location->getId() == $currentLocation->getId()): ?>selected<?php endif ?> value="<?php echo $location->getId() ?>">
                                            <?php echo strip_tags($location->getName()); ?>
                                        </option>
                                    <?php endforeach ?>
                                </select>
                            </div>
                        </div>

                        <?php include 'filters/date-fields.phtml';?>

                        <button class="btn pdf" type="submit" formaction="/reports/generate-location-report/pdf"><a class="excel">PDF</a></button>
                        <button class="btn excel" type="submit" formaction="/reports/generate-location-report/excel"><a class="excel">EXCEL</a></button>
                    </form>

                    <?php include 'tables/alerts.phtml'; ?>
                </div>
            </div>
            <?php include 'stats/alerts.phtml';?>
        </div>
    </div>
</div>





