<?php if ($this->pageCount): ?>
    <div class="pagination">
        <ul>
        <?php if (isset($this->page) && $this->page > 1): ?>
            <li><a href="<?php echo trim($this->url($this->route, array('action' => $action, 'page' => $this->page - 1)).'?'.$this->query, '?'); ?>">&laquo;</a></li>
        <?php else: ?>
            <li class="disabled"><a href="#">&laquo;</a></li>
        <?php endif; ?>

        <?php for ($i = 1; $i <= $this->pages; $i++): ?>
            <li class="<?php echo $i == $this->page ? 'active' : ''; ?>"><a href="<?php echo trim($this->url($this->route, array('action' => $action, 'page' => $i)).'?'.$this->query, '?'); ?>"><?php echo $i; ?></a></li>
        <?php endfor; ?>

        <?php if (isset($this->page) && $this->page < $this->pages): ?>
            <li><a href="<?php echo trim($this->url($this->route, array('action' => $action, 'page' => $this->page + 1)).'?'.$this->query, '?'); ?>">&raquo;</a></li>
        <?php else: ?>
            <li class="disabled"><a href="#">&raquo;</a></li>
        <?php endif; ?>
        </ul>
    </div>
<?php endif; ?>