<div class="span12">
    <?php include 'title.phtml'; ?>
    <div class="container row-fluid">
        <?php $type = 'date'; ?>
        <?php include 'left-sidebar.phtml'; ?>

        <div class="span10 row reports">
            <div class="border">
                <h4><i class="icon-calendar"></i> Summary by dates</h4>
                <div class="container">
                    <form class="form-horizontal" id="summary-by-dates" action="/reports/summary" method="get">
                        <?php include 'filters/date-fields.phtml';?>

                        <button class="btn pdf" type="submit" formaction="/reports/generate-summary-report/pdf"><a class="excel">PDF</a></button>
                        <button class="btn excel" type="submit" formaction="/reports/generate-summary-report/excel"><a class="excel">EXCEL</a></button>
                    </form>
                    <?php include 'tables/summary.phtml'; ?>
                </div>
            </div>

            <?php include 'stats/summary.phtml';?>
        </div>
    </div>
</div>

