<h3><i class="icon-calendar"></i> reports</h3>
<script type="text/javascript" src ="/js/reports.js"></script>
<script>
    $(function() {
        $('.container.row-fluid').handleReports();
    });
</script>