<?php $type = 'employees'; ?>
<div class="span12 row admin">
    <?php include __DIR__ . '/../admin/title.phtml'; ?>
    <div class="container row-fluid">
        <?php include __DIR__ . '/../admin-left-sidebar.phtml' ?>

        <?php include 'current-users-block.phtml'; ?>

        <div class="span6">
            <div class="border">
                <h4><i class="icon-user"></i> New employee</h4>
                <?php $passwordCheck = true;?>
                <?php $voipPasswordCheck = true;?>
                <?php include 'user-form.phtml'; ?>
            </div>
        </div>
    </div>
</div>