<div class="span4">
    <h4>current employees&nbsp;<span class="badge"><?php echo sizeof($users) ?></span></h4>
    <ul>
        <?php foreach ($users as $usr) :?>
            <li data-id="<?php echo $usr->getId() ?>"><?php echo strip_tags($usr->getUsername()); ?></li>
        <?php endforeach?>
    </ul>
    <?php include __DIR__ . '/../crud-block.phtml'; ?>
</div>