<?php $type = 'employees'; ?>
<div class="span12 row admin">
    <?php include __DIR__ . '/../admin/title.phtml'; ?>
    <div class="container row-fluid">
        <?php include __DIR__ . '/../admin-left-sidebar.phtml' ?>

        <?php include 'current-users-block.phtml'; ?>

        <div class="span6">
            <div class="border">
                <h4>
                    <i class="icon-user"></i>
                    Edit employee<?php if (isset($params['username'])): echo ' "' . strip_tags($params['username']) . '"'; endif; ?>
                </h4>
                <?php $passwordCheck = false;?>
                <?php $voipPasswordCheck = $params['role'] != \WebApplication\Entity\User::ROLE_MOBILE_USER
                    || (isset($errors) && isset($errors['voipPassword'])); ?>
                <?php include 'user-form.phtml'; ?>
            </div>
        </div>
    </div>
</div>