<form id = "employee-form" class="form-horizontal page-details-by-location user-registration-form" name="register" action='' method="post">
    <div class="control-group">
        <label class="control-label" for="email">Email <span>*</span></label>
        <div class="controls">
            <input id="email" type="email" name="email" value="<?php if (isset($params) && isset($params['email'])) echo $params['email'];?>" required>
            <?php if (isset($errors) && isset($errors['email'])):?>
                <span class="text-error"><?php echo $errors['email']?></span>
            <?php endif;?>
        </div>
    </div>
    <div class="control-group">
        <label class="control-label" for="username">Name <span>*</span></label>
        <div class="controls">
            <input id="username" type="text" name="username" value="<?php if (isset($params) && isset($params['username'])) echo $params['username'];?>" required>
            <?php if (isset($errors) && isset($errors['username'])):?>
                <span class="text-error"><?php echo $errors['username']?></span>
            <?php endif;?>
        </div>
    </div>
    <div class="control-group">
        <label class="control-label" for="password">
            Password<?php if($passwordCheck):?> <span>*</span><?php endif;?>
        </label>
        <div class="controls">
            <input
                id="password"
                type="password"
                name="password"
                minlength="6"
                data-validation-minlength-message="You must enter not less then 6 symbols"
                <?php if($passwordCheck):?>required<?php endif;?>
            />
            <?php if (isset($errors) && isset($errors['password'])):?>
                <span class="text-error"><?php echo $errors['password']?></span>
            <?php endif;?>
        </div>
    </div>
    <div class="control-group">
        <label class="control-label" for="passwordVerify">
            Password Verify<?php if($passwordCheck):?> <span>*</span><?php endif;?>
        </label>
        <div class="controls">
            <input
                id="passwordVerify"
                type="password"
                name="passwordVerify"
                minlength="6"
                data-validation-minlength-message="You must enter not less then 6 symbols"
                <?php if($passwordCheck):?>required<?php endif;?>
            />
        </div>
    </div>

    <div class="control-group">
        <label class="control-label checker" for="enabled">Enabled</label>
        <div class="controls">
            <input type="checkbox" id="enabled" name="enabled"
                <?php if (isset($params) && isset($params['enabled']) && $params['enabled'] == 'on') echo ' checked';?>/>
        </div>
    </div>

    <div class="control-group">
        <label class="control-label checker" for="role">Role <span>*</span></label>
        <div class="controls">
            <select name="role" required>
                <?php foreach ($roles as $role):?>
                    <option value="<?php echo $role ?>" <?php if (isset($params) && isset($params['role']) && $params['role'] == $role) echo 'selected';?>>
                        <?php echo ucfirst($role) ?>
                    </option>
                <?php endforeach ?>
            </select>
            <?php if (isset($errors) && isset($errors['role'])):?>
                <span class="text-error"><?php echo $errors['role']?></span>
            <?php endif;?>
        </div>
    </div>

    <div class="voIp-fields-wrapper">
        <div class="control-group">
            <label class="control-label" for="voipName">VoIP Number <span>*</span></label>
            <div class="controls">
                <input id="voipName" type="text" name="voipName" value="<?php if (isset($params) && isset($params['voipName'])) echo $params['voipName'];?>">
                <?php if (isset($errors) && isset($errors['voipName'])):?>
                    <span class="text-error"><?php echo $errors['voipName']?></span>
                <?php endif;?>
            </div>
        </div>
        <div class="control-group">
            <label class="control-label checker" for="voipPassword">
                VoIP password<?php if ($voipPasswordCheck): ?> <span>*</span><?php endif;?>
            </label>
            <div class="controls">
                <input id="voipPassword" type="password" name="voipPassword" value=""/>
                <?php if (isset($errors) && isset($errors['voipPassword'])):?>
                    <span class="text-error"><?php echo $errors['voipPassword']?></span>
                <?php endif;?>
            </div>
        </div>
        <div class="control-group">
            <label class="control-label" for="voipCallerId">VoIp Caller Name <span>*</span></label>
            <div class="controls">
                <input type="text" name="voipCallerId" value="<?php if (isset($params) && isset($params['voipCallerId'])) echo $params['voipCallerId'];?>">
                <?php if (isset($errors) && isset($errors['voipCallerId'])):?>
                    <span class="text-error"><?php echo $errors['voipCallerId']?></span>
                <?php endif;?>
            </div>
        </div>
        <div class="control-group multiselect">
            <label class="control-label" for="zonesIds[]">Zones <span>*</span></label>
            <div class="controls">
                <select name="zonesIds[]" multiple>
                    <?php foreach ($zones as $zone): ?>
                        <option value="<?php echo $zone->getId(); ?>"
                            <?php if (isset($params) && isset($params['zonesIds']) && in_array($zone->getId(), $params['zonesIds'])) echo 'selected';?>>
                                <?php echo $zone->getName() ?>
                        </option>
                    <?php endforeach ?>
                </select>
                <?php if (isset($errors) && isset($errors['zonesIds'])):?>
                    <div class="text-error"><?php echo $errors['zonesIds']?></div>
                <?php endif;?>
            </div>
        </div>
    </div>

    <button type="submit" value="Register">Submit</button>
</form>

<script type="text/javascript" src ="/js/employee.js"></script>
<script>
    $(function() {
        $('#employee-form').handleEmployee(
            '<?php echo isset($params) && isset($params['role']) ? $params['role'] : \WebApplication\Entity\User::ROLE_MOBILE_USER ?>',
            '<?php echo \WebApplication\Entity\User::ROLE_MOBILE_USER; ?>'
        );
    });
</script>