<?php if (isset($pages) && $pages > 1) {
    echo $this->paginationControl($this->paginator,
        'Sliding',
        'web-application/report/pagination', array('route' => 'report', 'action' => $type, 'pages' => $pages, 'page' => isset($page) ? $page : 1, 'query' => isset($query) ? $query : ''));
} ?>
<table>
    <tbody>
    <tr>
        <th>#</th>
        <th>Employee</th>
        <th>Location</th>
        <th>Opened</th>
        <th>Taken</th>
        <th>To take</th>
        <th>Closed</th>
        <th>To close</th>
        <th>Completed</th>
        <th>To Complete</th>
    </tr>
    <?php foreach($this->paginator as $key => $alert): ?>
        <tr>
            <td><?php echo ($page - 1)  * $paginator->getItemCountPerPage() + $key + 1 ?></td>
            <td><?php echo $alert->getEmployee() ? strip_tags($alert->getEmployee()->getUsername()) : ''; ?></td>
            <td><?php echo $alert->getLocation() ? strip_tags($alert->getLocation()->getName()) : ''; ?></td>
            <td><?php echo $alert->getOpened() ? date_format($alert->getOpened(),'m/d/Y H:i:s') : ''; ?></td>
            <td><?php echo $alert->getTaken() ? date_format($alert->getTaken(),'m/d/Y H:i:s') : ''; ?></td>
            <td><?php echo $alert->getToTake() ?></td>
            <td><?php echo $alert->getClosed() ? date_format($alert->getClosed(),'m/d/Y H:i:s') : ''; ?></td>
            <td><?php echo $alert->getToClose() ?></td>
            <td><?php echo $alert->getCompleted() ? date_format($alert->getCompleted(),'m/d/Y H:i:s') : '' ?></td>
            <td><?php echo $alert->getToComplete() ?></td>
        </tr>
    <?php endforeach ?>
    </tbody>
</table>
<?php if (isset($pages) && $pages > 1) {
    echo $this->paginationControl($this->paginator,
        'Sliding',
        'web-application/report/pagination', array('route' => 'report', 'action' => $type, 'pages' => $pages, 'page' => isset($page) ? $page : 1, 'query' => isset($query) ? $query : ''));
} ?>