<?php if (isset($pages) && $pages > 1) {
    echo $this->paginationControl($this->paginator,
        'Sliding',
        'web-application/report/pagination', array('route' => 'report', 'action' => $type, 'pages' => $pages, 'page' => isset($page) ? $page : 1, 'query' => isset($query) ? $query : ''));
} ?>
<table>
    <tbody>
    <tr>
        <th>#</th>
        <th>Employee</th>
        <th>Handset</th>
        <th>Login</th>
        <th>Logout</th>
        <th>Duration</th>
    </tr>
    <?php foreach($this->paginator as $key => $row): ?>
        <tr>
            <td><?php echo ($page - 1) * $paginator->getItemCountPerPage() + $key + 1 ?></td>
            <td><?php echo strip_tags($row->getEmployee()); ?></td>
            <td><?php echo strip_tags($row->getHandset()); ?></td>
            <td><?php echo $row->getLogin() ? date_format($row->getLogin(),'m/d/Y H:i:s') : ''; ?></td>
            <td><?php echo $row->getLogout() ? date_format($row->getLogout(),'m/d/Y H:i:s') : ''; ?></td>
            <td>
                <?php
                if ($row->getLogin() && $row->getLogout()):
                    echo $row->getLogin()->diff($row->getLogout())->format('%d days : %h hours : %i minutes : %s seconds');
                endif;
                ?>
            </td>
        </tr>
    <?php endforeach ?>
    </tbody>
</table>
<?php if (isset($pages) && $pages > 1) {
    echo $this->paginationControl($this->paginator,
        'Sliding',
        'web-application/report/pagination', array('route' => 'report', 'action' => $type, 'pages' => $pages, 'page' => isset($page) ? $page : 1, 'query' => isset($query) ? $query : ''));
} ?>