<table>
    <tbody>
    <tr>
        <th>#</th>
        <th>Employee</th>
        <th>Count</th>
        <th>Avg taken time</th>
        <th>Min taken time</th>
        <th>Max taken time</th>
    </tr>
    <?php if($summary): ?>
        <?php foreach($summary as $key => $row): ?>
            <tr>
                <td><?php echo $key + 1 ?></td>
                <td><?php echo strip_tags($row['username']); ?></td>
                <td><?php echo $row['count'] ?></td>
                <td><?php echo $row['avgTake']; ?></td>
                <td><?php echo $row['minTake'] ?></td>
                <td><?php echo $row['maxTake'] ?></td>
            </tr>
        <?php endforeach ?>
    <?php endif ?>
    </tbody>
</table>