<div class="span4">
    <h4>current handsets&nbsp;<span class="badge"><?php echo sizeof($handsets) ?></span></h4>
    <ul>
        <?php foreach($handsets as $handset): ?>
            <li data-id="<?php echo $handset->getId() ?>"><?php echo strip_tags($handset->getName()); ?></li>
        <?php endforeach ?>
    </ul>
    <?php include __DIR__ . '/../crud-block.phtml'; ?>
</div>