<form class="form-horizontal add-new-handset page-details-by-location" name="handset" action="" method="post">
    <div class="control-group">
        <label class="control-label" for="name">Name <span>*</span></label>
        <div class="controls">
            <input id="handset_name" type="text" name="name" value="<?php if (isset($params) && isset($params['name'])) echo $params['name'];?>" required/>
            <?php if (isset($errors) && isset($errors['name'])):?>
                <span class="text-error"><?php echo $errors['name']?></span>
            <?php endif;?>
        </div>
    </div>
    <div class="control-group">
        <label class="control-label" for="displayName">Display Name</label>
        <div class="controls">
            <input id="handset_name" type="text" name="displayName" value="<?php if (isset($params) && isset($params['displayName'])) echo $params['displayName'];?>"/>
            <?php if (isset($errors) && isset($errors['displayName'])):?>
                <span class="text-error"><?php echo $errors['displayName']?></span>
            <?php endif;?>
        </div>
    </div>
    <div class="control-group">
        <label class="control-label" for="publicId">ID <span>*</span></label>
        <div class="controls">
            <input type="text" name="publicId" value="<?php if (isset($params) && isset($params['publicId'])) echo $params['publicId'];?>" required/>
            <?php if (isset($errors) && isset($errors['publicId'])):?>
                <span class="text-error"><?php echo $errors['publicId']?></span>
            <?php endif;?>
        </div>
    </div>

    <button type="submit" value="Submit">Submit</button>
</form>