<div class="control-group calendar pull-left">
    <label class="control-label" for="dateFrom">From</label>
    <div class="controls">
        <input type="text" id="from" name="dateFrom" value="<?php echo !empty($dateFrom) ? $dateFrom : ''?>"/>
    </div>
</div>

<div class="control-group pull-left">
    <div class="controls hour">
        <input type="text" name="hoursFrom" value="<?php echo !empty($hoursFrom) ? $hoursFrom : '00'?>"/>
        <button type="button" class="up">&nbsp;</button>
        <button type="button" class="down">&nbsp;</button>
    </div>
</div>
<span>:</span>
<div class="control-group pull-left">
    <div class="controls seconds">
        <input type="text" name="minutesFrom" value="<?php echo !empty($minutesFrom) ? $minutesFrom : '00'?>"/>
        <button type="button" class="up">&nbsp;</button>
        <button type="button" class="down">&nbsp;</button>
    </div>
</div>

<div class="control-group calendar pull-left">
    <label class="control-label" for="dateTo">To</label>
    <div class="controls">
        <input type="text" id="to" name="dateTo" value="<?php echo !empty($dateTo) ? $dateTo : ''?>"/>
    </div>
</div>

<div class="control-group pull-left">
    <div class="controls hour">
        <input type="text" name="hoursTo" value="<?php echo !empty($hoursTo) ? $hoursTo : '00'?>"/>
        <button type="button" class="up">&nbsp;</button>
        <button type="button" class="down">&nbsp;</button>
    </div>
</div>
<span>:</span>
<div class="control-group pull-left">
    <div class="controls seconds">
        <input type="text" name="minutesTo" value="<?php echo !empty($minutesTo) ? $minutesTo : '00'?>"/>
        <button type="button" class="up">&nbsp;</button>
        <button type="button" class="down">&nbsp;</button>
    </div>
</div>

<button type="reset" class="btn reset-search">RESET</button>
<button type="submit" class="btn search" value="Search">SEARCH</button>