@font-face {
	  font-family: Helvetica;
	  src: url(../fonts/HelveticaCERegular.ttf);
	}
body {
    font-family: Helvetica, Arial, Sans-serif;
    background: url(../img/body_bg.png) repeat;
}
h1 {
    font-weight: normal;
    font-size: 35px;
}
#logo {
    margin-top: 3px;
}
#top {
    margin-bottom: 30px;
    background: #fff;
    box-shadow: 0 2px 7px rgba(0,0,0,0.2);
}
#top .span8 {
    width: auto;
    max-width: 1116px;
}
#topmenu {
    margin-top: 15px;
    margin-left: 0;
    text-transform: uppercase;
}
ul#topmenu {
    list-style-type: none;
}
#topmenu li {
    display: inline-block;
    margin-right: 5px;
}
#topmenu li a {
    display: block;
    padding: 3px 15px;
    font-size: 16px;
    color: #666;
    text-decoration: none;
    border: 3px solid transparent;
}
#topmenu li a:hover {
    color: #333;
}

#topmenu li.active a {
    color: #333;
    border: 3px solid #aee0ef;
    border-radius: 15px;
    box-shadow: inset 0 -1px 0px #99cbd9, inset 0 1px 0px #99cbd9, inset -1px 0 0px #99cbd9, inset 1px 0 0px #99cbd9;
}

#user-panel {
    float: right;
    margin: 20px 20px 0 0;
    font-size: 16px;
}
#user-panel a#logout {
    display: inline-block;
    width: 17px;
    height: 17px;
    position: relative;
    top: 3px;
    margin-left: 15px;
    background: url(../img/logout.png);
    opacity: 0.6;
}
#user-panel a#logout:hover {
    opacity: 1;
}

.row h3, .border > h4 {
    padding: 3px 14px;
    margin: 0 0 18px;
    font-size: 16px;
    font-weight: normal;
    text-transform: uppercase;
    color: #000;
    border-bottom: 1px solid #c1c1c1;
}
#content > .span4 .row h3 {
    margin: 0 0 13px;
}

#content {
    padding: 0 2%;
    margin-left: 0;
}
#content > .span8 h3 {
    padding: 3px 33px;
}

#content > .span4 > .row, #content > .span8, .span12 {
    background: #fff;
    margin-left: 0;
    box-shadow: 0 0 9px rgba(0,0,0,0.3);
}
#content > .span4 > .row {
    margin: 0 0 24px;
}
#content > .span4 {
    width: 15%;
    float: right;
    margin-left: 0;
}
#content > .span8 {
    width: 83%;
}
#content > .span8 > .container {
    padding: 0 26px 24px;
    width: auto;
}
#content > .span4 > .row .container {
    padding: 0 14px 14px;
    width: auto;
    min-height: 100px;
}
#content > .span4 > .row .container p {
    margin-bottom: 6px;
}
select, .jq-selectbox.jqselect {
    margin-right: 20px;
}
label:hover {
    cursor: default;
}

table {
    width: 100%;
    border: 1px solid #c1c1c1;
}
th {
    font-weight: normal;
    text-transform: uppercase;
    color: #666;
    padding: 8px;
}

td {
    padding: 8px;
    text-align: center;
    border-left: 1px solid #fff;
}
tr td:first-child {
    border: none;
}

tr:nth-child(even) td {
    background: #efefef;
}
tr:nth-child(2) td {
    background-image: url(../img/td-top_bg.png);
    background-repeat: repeat-x;
}

td button, #active-alerts td a.btn {
    border-radius: 20px;
    color: #333;
    border: none;
    padding: 2px 8px 3px;
    text-shadow: 0 2px #ededed;
    box-shadow: 0 2px 2px #696969;
    background: #f9f9f9; /* Old browsers */
    background: -moz-linear-gradient(top, #f9f9f9 0%, #cdcdcd 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f9f9f9), color-stop(100%,#cdcdcd)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #f9f9f9 0%,#cdcdcd 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #f9f9f9 0%,#cdcdcd 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #f9f9f9 0%,#cdcdcd 100%); /* IE10+ */
    background: linear-gradient(to bottom, #f9f9f9 0%,#cdcdcd 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f9f9f9', endColorstr='#cdcdcd',GradientType=0 ); /* IE6-9 */
}


#content td button:hover, #active-alerts td a.btn:hover {
    background-color: #e6e6e6;
    text-decoration: none;
    box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.05), 0 2px 2px #696969;
}




.span12 {
    width: auto;
    margin: 0;
    float: none;
}
.span12 > .container {
    margin: 0 30px;
    width: auto;
}

.span12 .span2 h4, .admin .container.row-fluid > .span4 h4 {
    font-weight: normal;
    text-transform: uppercase;
    color: #000;
    margin-bottom: 12px;
    font-size: 14px;
}
.admin .container.row-fluid > .span4 h4 span.badge {
    font-size:14px;
}
.span12 .span2 a {
    display: block;
    padding: 10px 18px;
    background: #efefef;
    color: #333;
    text-decoration: none;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}
.span12 .span2 ul {
    list-style-type: none; margin: 0 0 30px;
}
.span12 .span2 ul li a.active,
.span12 .span2 ul li a:hover {
    background: #99CCD9;
}
.span12 .span2 ul li a.active span,
.span12 .span2 ul li a:hover span {
    color:#FFF
}
.span12 > h3 {
    padding: 3px 30px;
}
.span10 .container {
    width: auto;
    margin-right: 15px;
}
.border {
    border: 1px solid #c1c1c1;
}
.border > h4 {
    border: none;
    padding: 10px 17px;
    font-size: 14px;
    box-shadow: 0 2px 7px rgba(0,0,0,0.2);
}

.border > .container {
    margin: 0 15px 15px;
}
.reports form {
    /*display: inline-block;*/
    margin-bottom: 0;
    min-width: 812px;
    float: left;
}
.reports .container > button, .reports form > button {
    float: left;
}
.reports form .control-label {
    float: left;
    margin-right: 15px;
    width: auto;
}
.reports form .controls {
    float: left;
    margin-left: 0;
}

.ui-datepicker {
    z-index: 555 !important;
}
.calendar input {
    width: 80px;
}

.calendar .controls {
    padding-right: 24px;
    margin-right: 15px;
    background: url(../img/calendar.png) no-repeat 100% 50%;
}
.reports form > button, .reports .container > button, .admin .container.row-fluid > .span4 button,
.admin form button, .admin .container.row-fluid > .span4 a {
    margin-right: 10px;
    font-size: 12px;
}

.reports form .seconds input, .reports form .hour input {
    width: 45px;
}
.reports form span {
    float: left;
    margin: 3px 5px;
}
.reports form .seconds {
    margin-right: 20px;
}
input[type="text"] {
    border: 1px solid #dcdcdc;
    border-top-color: #cdcdcd;
    border-bottom-color: #969696;
    box-shadow: 0 1px 0 #dcdcdc;
}

.controls.hour, .controls.seconds {
    position: relative;
    overflow: hidden;
}
.controls.hour button, .controls.seconds button {
    position: absolute;
    right: 1px;
    width: 25px;
    height: 15px;
    border: none;
    background: url(../img/buttons.png) no-repeat 0 0px;
}
.controls.hour button.up, .controls.seconds button.up {
    top: 1px;
}
.controls.hour button.down, .controls.seconds button.down {
    bottom: 1px;
    height: 13px;
    background-position: 0 90%;
}
#content button:focus, #content button:active, #content button:hover,
.btn:focus, .btn.active, .btn:hover {
    outline: none;
    background-color: #e6e6e6;
    text-decoration: none;
    -webkit-box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.05), 0 1px 0 #DCDCDC;
    -moz-box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.05), 0 1px 0 #DCDCDC;
    box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.05), 0 1px 0 #DCDCDC;
}
#content button.down:hover, #content button.up:hover, #content button.down:focus, #content button.up:focus {
    box-shadow: none;
}
.btn, .admin .container.row-fluid > .span3 button, .admin .container.row-fluid > .span4 button, #login button,
.admin form button, .admin .container.row-fluid > .span4 a {
text-shadow: 0 1px 1px #fff;
border: 1px solid #cfcfcf;
border-top-color: #fff;
border-bottom-color: #707070;
box-shadow: 0 1px 0 #DCDCDC;
background: #e5e5e5; /* Old browsers */
background: -moz-linear-gradient(top, #fefefe 0%, #cdcdcd 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#fefefe), color-stop(100%,#cdcdcd)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top, #fefefe 0%,#cdcdcd 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top, #fefefe 0%,#cdcdcd 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top, #fefefe 0%,#cdcdcd 100%); /* IE10+ */
background: linear-gradient(to bottom, #fefefe 0%,#cdcdcd 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fefefe', endColorstr='#cdcdcd',GradientType=0 ); /* IE6-9 */
}
.btn:hover, .btn:active, .btn:focus {
    background-position: 0 0;
}
.statistic {
    margin: 24px 15px 25px 50px;
}
.statistic p {
    text-align: right;
    margin-bottom: 0;
}
.btn.pdf, .btn.excel {
    padding-top: 2px;
    padding-bottom: 2px;
}
.btn.pdf:before {
    content: '';
    display: inline-block;
    width: 18px;
    height: 18px;
    margin-right: 6px;
    position: relative;
    top: 3px;
    background: url(../img/pdf.png) no-repeat;
}
.btn.excel:before {
    content: '';
    display: inline-block;
    width: 16px;
    height: 18px;
    margin-right: 4px;
    position: relative;
    top: 3px;
    background: url(../img/excel.png)  no-repeat;
}

.admin .container.row-fluid > .span3 {
    width: 142px;
}
.admin .container.row-fluid > .span4 {
    width: 200px;
    margin-left: 32px;
}
.admin .container.row-fluid > .span6 {
    float: none;
    margin-left: 409px;
    width: auto;
}
.admin .container.row-fluid > .span3 button, .admin form button, #login button {
    font-size: 12px;
    border-radius: 6px;
    display: block;
    width: 100%;
    padding: 5px 0;
    text-transform: uppercase;
    margin-bottom: 12px;
}
.admin .container.row-fluid > .span3 button.active {
    border: 3px solid #AEE0EF;
    box-shadow: 0 -1px 0 #99CBD9 inset, 0 1px 0 #99CBD9 inset, -1px 0 0 #99CBD9 inset, 1px 0 0 #99CBD9 inset;
}
#login button {
    width: 100px;
    margin-top: 15px;
}
.admin .container.row-fluid > .span4 ul {
    list-style-type: none;
    margin: 0 0 15px;
    border: 1px solid #c1c1c1;
    min-height:300px;
    max-height: 450px;
    overflow: auto;
}
.admin .container.row-fluid > .span4 ul li {
    padding: 10px 14px;
    cursor: pointer;
}
.admin .container.row-fluid > .span4 ul li.active,
.admin .container.row-fluid > .span4 ul li:hover {
    background: #EFEFEF;
}
.admin .container.row-fluid > .span4 button, .admin .container.row-fluid > .span4 a {
    width: 60px;
    border-radius: 6px;
    padding: 3px 0;
    color: #565656;
}
.admin .container.row-fluid > .span4 a {
    display: inline-block;
    text-align: center;
    width: 54px;
}
.admin .container.row-fluid > .span4 button a {
    color: #565656;
    display: block;
}
.admin .container.row-fluid > .span4 a:hover,
.admin .container.row-fluid > .span4 a:active,
.admin .container.row-fluid > .span4 a:focus {
    text-decoration: none;
    box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.05), 0 1px 0 #DCDCDC;
}
.admin .container.row-fluid > .span4 button.last, .admin .container.row-fluid > .span4 a.last {
    margin-right: 0;
}
.admin .form-horizontal .control-group:after {
    clear: none;
}
.admin form button {
    width: 144px;
    margin-left: 154px;
}
.admin form.add-new-handset select {
    width: 292px;
}
.admin .form-horizontal .control-label {
    width: 90px;
}
.admin .form-horizontal.page-details-by-location .control-label {
    width: 130px;
}
.admin .form-horizontal.add-new-location .control-label {
    width: 125px;
}
.admin .form-horizontal.add-new-location select {
    width: 292px;
}
.admin .form-horizontal.edit-handset select {
    width: 292px;
}
.admin .form-horizontal.add-new-location button {
    margin-left: 149px;
}
.admin .form-horizontal.edit-handset button,
.admin .form-horizontal.add-new-device button {
    margin-left: 114px;
}
.admin .form-horizontal.add-new-zone .control-label {
    width: 100px;
    margin: 0 20px 0 10px;
}
.admin .form-horizontal.add-new-zone button,
.admin .form-horizontal.add-new-hop button {
    margin-left: 130px;
}
.admin .form-horizontal.add-new-location .jq-checkbox {
    margin-top: 3px;
}
.admin .form-horizontal .controls {
    margin-left: 114px;
}
.admin .form-horizontal.page-details-by-location .controls {
    margin-left: 154px;
}
.admin .form-horizontal.add-new-location .controls {
    margin-left: 149px;
}
.control-label.checker {
    line-height: 14px;
}
.admin .form-horizontal input[type="text"],
input[type="email"],
input[type="password"],
#login input[type="text"],
#login input:focus {
    border: none;
    box-shadow: inset 0 0 5px #777;
    padding-bottom: 8px;
    width: 280px;
}
.jq-checkbox {
    border: none;
    height: 22px;
    width: 22px;
    box-shadow: none;
    background: url(../img/checkbox.png) no-repeat;
}
.jq-checkbox.checked {
    background-position: 0 100%;
}
#content .jq-checkbox .jq-checkbox__div {
    background: none;
    box-shadow: none;
}
.admin .form-horizontal ul {
    list-style-type: none;
    margin: 0 20px 0 0;
    box-shadow: inset 0 0 5px #777;
    border-radius: 6px;
    padding: 5px 0;
    width: 295px;
}
.form-horizontal .jq-selectbox__dropdown ul {
    margin-right: 0;
    box-shadow: none;
    border-radius: 0;
    padding: 0;
    width: 100%;
}
.admin .form-horizontal ul li {
    padding: 5px 15px;
}
.admin .container.row-fluid {
    padding-bottom: 25px;
}

#foot {
    padding: 19px 56px;
}

#foot > div.active {
    cursor: pointer;
    padding: 5px 0 5px 38px;
    background: url(../img/active.png) no-repeat;
}

#login {
    width: 350px;
    margin: 0 auto;
}

#login label {
    margin-left: 10px;
}

#login .zend_form ul {
    list-style: none outside;
    margin-left: 10px;
    color: #b94a48
}

/* flash notifications */
.flash-notification {
    float:left;
    background-color:#D9EDF7;
    box-shadow: 2px 2px 2px #AEE0EF;
    text-shadow: 0 0 3px #FFFFFF;
    margin-left: 10px;
    border-radius: 5px;
}
.error.flash-notification {
    background-color:#F2DEDE;
    box-shadow: 2px 2px 2px #D29995;
}
.flash-notification ul {
    list-style: none outside;
    margin: 10px 20px;
}

.form-horizontal .text-error {
    margin-left: 10px;
}
.form-horizontal .multiselect ul {
    width: 290px;
    box-shadow: none;
    border: 1px solid #dcdcdc;
    border-top-color: #cdcdcd;
    border-bottom-color: #969696;
}

.multiselect .jq-select-multiple {
    border: none;
    box-shadow: none;
}
.jq-select-multiple li.selected {
    background: #efefef;
    color: #333;
}

.tmp-warning-icon {
    margin-left:10px;
}
.form-horizontal label span {
    color:#b94a48; font-weight:bold
}
.jq-selectbox__search input[type="search"] {
    width:195px;
}
.badge.reports-total {
    background-color: #99CCD9;
}

html, body {
    height: 100%;
}

/* press the footer to the basement */
#wrap {
    position: relative;
    min-width: 1360px;
    min-height: 100%;
}
#wr-top {
    padding-bottom: 70px;
}
footer {
    position: absolute;
    bottom: 0;
    left: 0;
    padding: 15px 0;
    width: 100%;
    height: 20px;
    text-align: center;
}
footer span {
    text-shadow:1px 2px 3px #888;
}

@media (max-width: 1360px) {
    #content {
        width: 1310px;
        padding: 0 25px;
    }
    #top {
        width: 1380px;
    }
}

/* Modal */

.modal.fade.in {
    top: 25%;
}

.modal-backdrop {
    background-color: #333;
}

.modal-header h3 {
    border: none;
    margin: 0;
    padding: 0;
    color:#333;
}

.modal-header i {
    vertical-align:middle;
    margin:0;
}

.modal-body {
    background-color:#D9EDF7;
}

.modal-body p {
    text-align: center;
    font-size: 16px;
    color: #3A87AD;
    margin: 0;
}

.modal-footer .btn.cancel {
    border: 2px solid #3A87AD;
}

.modal-footer .btn.delete {
    border: 2px solid #A94442;
    color: #843534;
}

/* remove in future */

.admin-alerts-btn-wrapper {
    margin-bottom: 30px;
}

button.admin-alerts-btn {
    width: 123px;
    border: 3px solid #888;
    border-radius: 20px;
}

a.admin-alerts-btn {
    width: 93px;
    border: 3px solid #a94442;
    border-radius: 20px;
    color: #843534;
}

a.admin-alerts-btn:hover {
    color: #843534;
}

a.delete-alert {
    border: 3px solid #a94442;
    border-radius: 20px;
    color: #843534;
}

h3 [class^="icon-"], h3 [class*=" icon-"] {
    margin-top: 2px;
}

.pagination {
    clear: both;
}

.devices a[title="create"],
.devices a[title="delete"] {
  display: none !important;
}