<div class="span4">
    <h4>Current Buttons&nbsp;<span class="badge"><?php echo sizeof($buttons) ?></span></h4>
    <ul>
        <?php foreach($buttons as $button): ?>
            <li data-id="<?php echo $button->getId() ?>" data-palatium-care-id="<?php echo $button->getPalatiumCareId()?>">
                <?php echo strip_tags($button->getPublicId()); ?>
                <?php if ($button->getPalatiumCareId()): ?>
                    <span class="tmp-warning-icon icon-download" title="Obtained from Palatium Care"></span>
                <?php endif ?>
            </li>
        <?php endforeach ?>
    </ul>
    <?php include __DIR__ . '/../crud-block.phtml'; ?>
</div>