<form class="form-horizontal add-new-button" name="button" action="" method="post">
    <div class="control-group">
        <label class="control-label" for="publicId">ID <span>*</span></label>
        <div class="controls">
            <input type="text" name="publicId" value="<?php if (isset($params) && isset($params['publicId'])) echo $params['publicId'];?>" required/>
            <?php if (isset($errors) && isset($errors['publicId'])):?>
                <span class="text-error"><?php echo $errors['publicId']?></span>
            <?php endif;?>
        </div>
    </div>

    <div class="control-group">
        <label class="control-label" for="locationId">Location <span>*</span></label>
        <div class="controls">
            <select name="locationId">
                <option value=""></option>
                <?php foreach ($locations as $location): ?>
                    <option value="<?php echo $location->getId(); ?>" <?php if (isset($params) && isset($params['locationId']) && $params['locationId'] == $location->getId()) echo 'selected';?>>
                        <?php echo $location->getName(); ?>
                    </option>
                <?php endforeach ?>
            </select>
            <?php if (isset($errors) && isset($errors['locationId'])):?>
                <span class="text-error"><?php echo $errors['locationId']?></span>
            <?php endif;?>
        </div>
    </div>

    <button type="submit" value="Submit">Submit</button>
</form>