<div class="span4">
    <h4>Current Locations&nbsp;<span class="badge"><?php echo sizeof($locations) ?></span></h4>
    <ul>
        <?php foreach($locations as $location): ?>
            <li data-id="<?php echo $location->getId() ?>" data-palatium-care-id="<?php echo $location->getPalatiumCareId()?>">
                <?php echo strip_tags($location->getName()); ?>
                <?php if ($location->getPalatiumCareId()): ?>
                    <span class="tmp-warning-icon icon-download" title="Obtained from Palatium Care"></span>
                <?php endif ?>
            </li>
        <?php endforeach ?>
    </ul>
    <?php include __DIR__ . '/../crud-block.phtml'; ?>
</div>