<form class="form-horizontal add-new-location" name="location" action="" method="post">

    <?php if (!isset($params['fromPalatiumCare']) || !$params['fromPalatiumCare']): ?>
        <div class="control-group">
            <label class="control-label" for="name">Name <span>*</span></label>
            <div class="controls">
                <input type="text" name="name" value="<?php if (isset($params) && isset($params['name'])) echo $params['name'];?>" required/>
                <?php if (isset($errors) && isset($errors['name'])):?>
                    <span class="text-error"><?php echo $errors['name']?></span>
                <?php endif;?>
            </div>
        </div>
    <?php endif;?>

    <div class="control-group">
        <label class="control-label" for="zoneId">Zone <span>*</span></label>
        <div class="controls">
            <select name="zoneId" required>
                <?php foreach ($zones as $zone): ?>
                    <option value="<?php echo $zone->getId(); ?>" <?php if (isset($params) && isset($params['zoneId']) && $params['zoneId'] == $zone->getId()) echo 'selected';?>>
                        <?php echo $zone->getName() ?>
                    </option>
                <?php endforeach ?>
            </select>
            <?php if (isset($errors) && isset($errors['zoneId'])):?>
                <span class="text-error"><?php echo $errors['zoneId']?></span>
            <?php endif;?>
        </div>
    </div>

    <?php if (!isset($params['fromPalatiumCare']) || !$params['fromPalatiumCare']): ?>
        <div class="control-group">
            <label class="control-label" for="behaviour">Behaviour <span>*</span></label>
            <div class="controls">
                <select name="behaviour" required>
                    <?php foreach ($behaviours as $behaviour): ?>
                        <option value="<?php echo $behaviour ?>" <?php if (isset($params) && isset($params['behaviour']) && $params['behaviour'] == $behaviour) echo 'selected';?>>
                            <?php echo $behaviour ?>
                        </option>
                    <?php endforeach ?>
                </select>
                <?php if (isset($errors) && isset($errors['behaviour'])):?>
                    <span class="text-error"><?php echo $errors['behaviour']?></span>
                <?php endif;?>
            </div>
        </div>

        <div class="control-group">
            <label class="control-label" for="enabled">Enabled</label>
            <div class="controls">
                <input type="checkbox" name="enabled" <?php if (isset($params) && isset($params['enabled']) && $params['enabled'] == 'on') echo ' checked';?>/>
            </div>
        </div>
    <?php endif;?>

    <button type="submit" value="Submit">Submit</button>
</form>