<div class="span12 row admin">
    <?php include 'title.phtml'; ?>
    <div class="container row-fluid">
        <?php include __DIR__ . '/../admin-left-sidebar.phtml'; ?>
        <div class="span4"></div>
    </div>
</div>