<?php $type = 'account'; ?>
<div class="span12 row admin"><h3>administration system</h3>
    <div class="container row-fluid">
        <?php include __DIR__ . '/../admin-left-sidebar.phtml'; ?>
        <?php include __DIR__ . '/../users/current-users-block.phtml'; ?>
        <?php include __DIR__ . '/../flash-notification-block.phtml'; ?>
    </div>
</div>


