<div class="span4">
    <h4>Current Repeaters&nbsp;<span class="badge"><?php echo sizeof($hops) ?></span></h4>
    <ul>
        <?php foreach($hops as $hop): ?>
            <li data-id="<?php echo $hop->getId() ?>">
                <?php echo strip_tags($hop->getName()); ?>
                <?php
                    if (preg_match(
                        sprintf('#^%s#', \WebApplication\Model\HopModel::TMP_NAME_PREFIX),
                        $hop->getName()
                    )):?>
                        <span class="tmp-warning-icon icon-pencil"></span>
                    <?php endif; ?>

            </li>
        <?php endforeach ?>
    </ul>
    <?php include __DIR__ . '/../crud-block.phtml'; ?>
</div>