<form class="form-horizontal add-new-hop" name="zone" action="" method="post">
    <div class="control-group">
        <label class="control-label" for="name">Name <span>*</span></label>
        <div class="controls">
            <input id="location_name" type="text" name="name" value="<?php if (isset($params) && isset($params['name'])) echo $params['name'];?>" required/>
            <?php if (isset($errors) && isset($errors['name'])):?>
                <span class="text-error"><?php echo $errors['name']?></span>
            <?php endif;?>
        </div>
    </div>

    <div class="control-group">
        <label class="control-label" for="publicId">ID <span>*</span></label>
        <div class="controls">
            <input type="text" name="publicId" value="<?php if (isset($params) && isset($params['publicId'])) echo $params['publicId'];?>" required/>
            <?php if (isset($errors) && isset($errors['publicId'])):?>
                <span class="text-error"><?php echo $errors['publicId']?></span>
            <?php endif;?>
        </div>
    </div>

    <div class="control-group">
        <label class="control-label" for="type">Type <span>*</span></label>
        <div class="controls">
            <select name="type" required>
                <?php foreach($types as $type):?>
                    <option value="<?php echo $type?>" <?php if (isset($params) && isset($params['type']) && $params['type'] == $type) echo 'selected';?>>
                        <?php echo $type?>
                    </option>
                <?php endforeach ?>
            </select>
            <?php if (isset($errors) && isset($errors['type'])):?>
                <span class="text-error"><?php echo $errors['type']?></span>
            <?php endif;?>
        </div>
    </div>

    <button type="submit" value="Submit">Submit</button>
</form>