<div class="span4 devices">
    <h4>Current Device types&nbsp;<span class="badge"><?php echo sizeof($devices) ?></span></h4>
    <ul>
        <?php foreach($devices as $device): ?>
            <li data-id="<?php echo $device->getId() ?>">
                <?php echo strip_tags($device->getType()); ?>
            </li>
        <?php endforeach ?>
    </ul>
    <?php include __DIR__ . '/../crud-block.phtml'; ?>
</div>