<?php $type = 'devices'; ?>
<div class="span12 row admin">
    <?php include __DIR__ . '/../admin/title.phtml'; ?>
    <div class="container row-fluid">
        <?php include __DIR__ . '/../admin-left-sidebar.phtml' ?>

        <?php include 'current-buttons-block.phtml'; ?>

        <div class="span6">
            <div class="border">
                <h4>
                    <i class="icon-globe"></i>
                    Edit Device<?php if (isset($params['type'])): echo ' "' . strip_tags($params['type']) . '"'; endif; ?>
                </h4>
                <?php include 'form.phtml'; ?>
            </div>
        </div>
    </div>
</div>
