<form class="form-horizontal add-new-device" name="device" action="" method="post">
    <div class="control-group">
        <label class="control-label" for="type">Type <span>*</span></label>
        <div class="controls">
            <input type="text" name="type" value="<?php if (isset($params) && isset($params['type'])) echo $params['type'];?>" readonly/>
            <?php if (isset($errors) && isset($errors['type'])):?>
                <span class="text-error"><?php echo $errors['type']?></span>
            <?php endif;?>
        </div>
    </div>

    <div class="control-group">
        <label class="control-label" for="workflow">Workflow <span>*</span></label>
        <div class="controls">
            <select name="workflow">
                <?php foreach ($workflows as $workflow): ?>
                    <option value="<?php echo $workflow ?>" <?php if (isset($params) && isset($params['workflow']) && $params['workflow'] == $workflow) echo 'selected';?>>
                        <?php echo $workflow ?>
                    </option>
                <?php endforeach ?>
            </select>
            <?php if (isset($errors) && isset($errors['workflow'])):?>
                <span class="text-error"><?php echo $errors['workflow']?></span>
            <?php endif;?>
        </div>
    </div>

    <button type="submit" value="Submit">Submit</button>
</form>