<div class="span4">
    <h4>Current Zones&nbsp;<span class="badge"><?php echo sizeof($zones) ?></span></h4>
    <ul>
        <?php foreach($zones as $zone): ?>
            <li data-id="<?php echo $zone->getId() ?>"><?php echo strip_tags($zone->getName()); ?></li>
        <?php endforeach ?>
    </ul>
    <?php include __DIR__ . '/../crud-block.phtml'; ?>
</div>