<form class="form-horizontal add-new-zone" name="zone" action="" method="post">
    <div class="control-group">
        <label class="control-label" for="name">Name <span>*</span></label>
        <div class="controls">
            <input id="location_name" type="text" name="name" value="<?php if (isset($params) && isset($params['name'])) echo $params['name'];?>" required/>
            <?php if (isset($errors) && isset($errors['name'])):?>
                <span class="text-error"><?php echo $errors['name']?></span>
            <?php endif;?>
        </div>
    </div>

    <div class="control-group">
        <label class="control-label" for="sound">Sound <span>*</span></label>
        <div class="controls">
            <select name="sound" required>
                <option value=""></option>
                <?php foreach($sounds as $sound):?>
                    <option value="<?php echo $sound?>" <?php if (isset($params) && isset($params['sound']) && $params['sound'] == $sound) echo 'selected';?>>
                        <?php echo $sound?>
                    </option>
                <?php endforeach ?>
            </select>
            <?php if (isset($errors) && isset($errors['sound'])):?>
                <span class="text-error"><?php echo $errors['sound']?></span>
            <?php endif;?>
        </div>
    </div>

    <div class="control-group">
        <label class="control-label" for="soundCount">Sound count <span>*</span></label>
        <div class="controls">
            <input id="soundCount" type="text" name="soundCount" value="<?php echo (isset($params) && isset($params['soundCount'])) ? $params['soundCount'] : 3;?>" required>
            <?php if (isset($errors) && isset($errors['soundCount'])):?>
                <span class="text-error"><?php echo $errors['soundCount']?></span>
            <?php endif;?>
        </div>
    </div>

    <div class="control-group">
        <label class="control-label" for="soundInterval">Sound interval <span>*</span></label>
        <div class="controls">
            <select name="soundInterval" required>
                <?php foreach($soundIntervals as $secondInterval => $interval):?>
                    <option value="<?php echo $secondInterval?>" <?php if (isset($params) && isset($params['soundInterval']) && $params['soundInterval'] == $secondInterval) echo 'selected';?>>
                        <?php echo $interval?>
                    </option>
                <?php endforeach ?>
            </select>
            <?php if (isset($errors) && isset($errors['soundInterval'])):?>
                <span class="text-error"><?php echo $errors['soundInterval']?></span>
            <?php endif;?>
        </div>
    </div>

    <button type="submit" value="Submit">Submit</button>
</form>