<?php $type = 'zones'; ?>
<div class="span12 row admin">
    <?php include __DIR__ . '/../admin/title.phtml'; ?>
    <div class="container row-fluid">
        <?php include __DIR__ . '/../admin-left-sidebar.phtml'; ?>
        <?php include 'current-zones-block.phtml'; ?>
        <?php include __DIR__ . '/../flash-notification-block.phtml'; ?>
    </div>
</div>