<?php $actionsSwitcher = true; ?>
<tr>
    <th>timer</th>
    <th>location</th>
    <th>event type</th>
    <th>device type</th>
    <th>near</th>
    <th>resident</th>
    <th>opened</th>
    <th>closed</th>
    <?php if ($actionsSwitcher || ($isAdmin && APP_ENV == 'dev')):?>
        <th>actions</th>
    <?php endif;?>
</tr>
<?php if(!empty($alerts)): ?>
    <?php foreach($alerts as $alert): ?>
        <tr>
            <td width="100px"></td>
            <td><?php echo $alert->getLocation() && $alert->getLocation()->getName() ? strip_tags($alert->getLocation()->getName()) : '' ?></td>
            <td><?php echo $alert->getType() ? strip_tags($alert->getType()) : '' ?></td>
            <td><?php echo $alert->getDevice() ? strip_tags($alert->getDevice()->getType()) : '' ?></td>
            <td><?php echo $alert->getHop() ? strip_tags($alert->getHop()->getName()) : strip_tags($alert->getNear()) ?></td>
            <td><?php echo count($alert->getResidents()->toArray()) == 1 ? strip_tags($alert->getResidents()->toArray()[0]->getName()) : 'No data' ?></td>
            <td><?php echo date_format($alert->getOpened(),'m/d/Y H:i:s') ?></td>
            <td><?php echo ($alert->getClosed() != null ? date_format($alert->getClosed(),'m/d/Y H:i:s'):'') ?></td>
            <?php if ($actionsSwitcher || ($isAdmin && APP_ENV == 'dev')):?>
                <td>
                    <?php if (!$alert->getPalatiumCareId()): ?>
                        <a class="btn delete-alert"
                           href="index/delete/<?php echo $alert->getId(); ?>"
                           title="delete">
                            <i class="icon-remove"></i>
                        </a>
                    <?php endif ?>
                </td>
            <?php endif;?>
        </tr>
    <?php endforeach ?>
<?php endif ?>
<?php for ($i = 0; $i < 6; $i++): ?>
    <tr>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <?php if ($actionsSwitcher || ($isAdmin && APP_ENV == 'dev')):?>
            <td>&nbsp;</td>
        <?php endif; ?>
    </tr>
<?php endfor;?>