<div class="span4">
    <div class="row"><h3><i class="icon-list"></i> device types</h3>
        <div class="container">
            <form id = "device-form" action="" method="post">
                <div class="control-group">
                    <input type="checkbox" name="allCheckbox" value="" checked> Check (uncheck) all
                </div>
                <?php foreach ($devices as $device): ?>
                    <div class="control-group">
                        <label for="checkbox">
                            <input type="checkbox" name="devicesIds[]" value="<?php echo $device->getId() ?>" <?php if (isset($params['devicesIds']) && in_array($device->getId(), $params['devicesIds'])) echo 'checked';?>> <?php echo $device->getType() ?>
                        </label>
                    </div>
                <?php endforeach ?>
            </form>
        </div>
    </div>
    <div class="row"><h3><i class="icon-signal"></i> handsets</h3>
        <div id="users-online" class="container">
            <?php include 'users-data.phtml'; ?>
        </div>
    </div>

    <!--    TODO remove in future-->
    <?php if (APP_ENV == 'dev' && $this->zfcUserIdentity()
        && $this->zfcUserIdentity()->getRole() == \WebApplication\Entity\User::ROLE_ADMIN):?>
        <div class="admin-alerts-btn-wrapper">
            <button class="btn admin-alerts-btn" id="generate-alert">Generate Alert</button>
        </div>
        <div class="admin-alerts-btn-wrapper">
            <button class="btn admin-alerts-btn" id="reset-alert">Reset Alert</button>
        </div>

        <div class="admin-alerts-btn-wrapper">
            <a class="btn admin-alerts-btn" href="/system/truncate"><span>Delete Alerts</span></a>
        </div>
    <?php endif;?>
</div>


<div class="span8">
    <h3><i class="icon-list"></i> alerts</h3>
    <div class="container">
        <table id="active-alerts">
            <?php include 'alerts-data.phtml'; ?>
        </table>
    </div>
</div>

<script type="text/javascript" src ="/js/alerts.js"></script>
<script>
    $(function() {
        $('#active-alerts').handleAlerts(<?php echo "'" . $serverDateTime . "'"?>, null, <?php echo "'" . $type . "'"?>);
    });
</script>
    