<div class="row statistic">
    <div class="pull-left">Total Results:&nbsp;<span class="badge reports-total"><?php echo sizeof($alerts); ?></span></div>
    <div class="pull-right">
        <p>Average taking time: <?php echo $avg['response']?></p>
        <p>Average closing time: <?php echo $avg['close']?></p>
        <p>Average completing time: <?php echo $avg['complete']?></p>
    </div>
</div>