<div class="row statistic">
    <div class="pull-left">Total Results:&nbsp;<span class="badge reports-total"><?php echo $count = sizeof($summary) ?></span></div>
    <div class="pull-right">
        <p>Average taking time: <?php echo $avg['avg'] ?></p>
        <p>Average minimal taking time: <?php echo $avg['min'] ?></p>
        <p>Average maximum taking time: <?php echo $avg['max'] ?></p>
    </div>
</div>