<?php echo $this->doctype(); ?>

<html lang="en">
    <head>
        <meta charset="utf-8">
        <?php echo $this->headTitle( $this->translate('Notify'))->setSeparator(' - ')->setAutoEscape(false) ?>

        <?php echo $this->headMeta()
            ->appendName('viewport', 'width=device-width, initial-scale=1.0')
            ->appendHttpEquiv('X-UA-Compatible', 'IE=edge')
        ?>

        <!-- Le styles -->
        <?php echo $this->headLink(array('rel' => 'shortcut icon', 'type' => 'image/vnd.microsoft.icon', 'href' => $this->basePath() . '/img/favicon.ico'))
            ->prependStylesheet($this->basePath() . '/css/style.css', array('media' => 'screen'))
            ->prependStylesheet($this->basePath() . '/css/bootstrap.css', array('media' => 'screen'))
            ->prependStylesheet($this->basePath() . '/css/jquery.formstyler.css', array('media' => 'screen'))
            ->prependStylesheet($this->basePath() . '/css/jquery-ui_1.10.3.css', array('media' => 'screen')); ?>

        <!-- Scripts -->
        <?php echo $this->headScript()
            ->appendFile($this->basePath() . '/js/jquery-1.10.2.min.js')
            ->appendFile($this->basePath() . '/js/jquery-ui_1.10.3.js')
            ->appendFile($this->basePath() . '/js/bootstrap.min.js')
            ->appendFile($this->basePath() . '/js/jquery.formstyler.js')
            ->appendFile($this->basePath() . '/js/global.js')
            ->appendFile($this->basePath() . '/js/jqBootstrapValidation.js')
            ->appendFile($this->basePath() . '/js/respond.min.js', 'text/javascript', array('conditional' => 'lt IE 9',))
            ->appendFile($this->basePath() . '/js/html5shiv.js',   'text/javascript', array('conditional' => 'lt IE 9',))
        ; ?>

    </head>

    <body>
    <div id="wrap">
        <div id="wr-top">
            <div id="top" class="row">
                <div class="span4"><a id="logo" href="/"><img src="<?php echo $this->basePath('img/logo.png') ?>" /></a></div>
                <?php if($this->zfcUserIdentity()): ?>
                <div id="user-panel"><?php echo strip_tags($this->zfcUserIdentity()->getUsername()); ?>
                    <a href="<?php echo $this->url('zfcuser/logout') ?>" id="logout" title="sign out"></a>
                </div>
                <div class="span8">
                    <?php if ($this->zfcUserIdentity()->getRole() == \WebApplication\Entity\User::ROLE_ADMIN): ?>
                        <ul id="topmenu">
                            <?php echo $this->navigation('navigation')->menu(); ?>
                        </ul>
                    <?php endif; ?>
                </div>
                <?php endif; ?>
            </div>

            <div id="content" class="row">
                <!-- Modal -->
                <div id="messageBox" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="messageBoxLabel" aria-hidden="true">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"><i class="icon-remove"></i></button>
                        <h3 id="messageBoxLabel">Notification</h3>
                    </div>
                    <div class="modal-body">
                        <p></p>
                    </div>
                    <div class="modal-footer">
                        <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
                    </div>
                </div>

                <div id="confirmBox" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="confirmBoxLabel" aria-hidden="true">
                    <div class="modal-header">
                        <h3 id="confirmBoxLabel">Confirm</h3>
                    </div>
                    <div class="modal-body">
                        <p></p>
                    </div>
                    <div class="modal-footer">
                        <button class="btn cancel" data-dismiss="modal" aria-hidden="true">Cancel</button>
                        <a href="#" class="btn delete">Delete</a>
                    </div>
                </div>

                <?php echo $this->content; ?>
            </div>
        </div>

        <footer>
            <span class="badge">Version <?= trim(`git describe`) ?></span>
        </footer>
    </div>

    <?php echo $this->inlineScript() ?>
    </body>
</html>
