<div class="span3">
    <a href="/admin/employees"><button<?php if (!empty($type) && $type == 'employees'):?> class="active"<?php endif;?>>employees</button></a>
    <a href="/admin/handsets"><button<?php if (!empty($type) && $type == 'handsets'):?> class="active"<?php endif;?>>handsets</button></a>
    <a href="/admin/locations"><button<?php if (!empty($type) && $type == 'locations'):?> class="active"<?php endif;?>>locations</button></a>
    <a href="/admin/zones"><button<?php if (!empty($type) && $type == 'zones'):?> class="active"<?php endif;?>>zones</button></a>
    <?php if (APP_ENV == 'dev'): ?>
    <a href="/admin/hops"><button<?php if (!empty($type) && $type == 'hops'):?> class="active"<?php endif;?>>repeaters</button></a>
    <a href="/admin/buttons"><button<?php if (!empty($type) && $type == 'buttons'):?> class="active"<?php endif;?>>buttons</button></a>
    <?php endif; ?>
    <a href="/admin/devices"><button<?php if (!empty($type) && $type == 'devices'):?> class="active"<?php endif;?>>device types</button></a>
</div>
