<a href="/admin/<?php echo $type?>/add" title="create"><span class="icon-plus"></span></a>
<a id="edit" href="/admin/<?php echo $type?>/edit/" data-palatium-care-id="" title="edit"><span class="icon-pencil"></span></a>
<a id="subtract" class="last" href="/admin/<?php echo $type?>/delete/" data-palatium-care-id="" title="delete"><span class="icon-minus"></span></a>